.dm-background {
    background: url(/img/wallpaper-black.jpg) no-repeat center !important;
    background-size: cover !important;
}

.dm-text {
    color: white !important;
}

.dm-box{
    background-color: #55555598 !important;
}

.dm-background-menu {
    background: #181818 !important;
}

.dm-img-filter {
    filter: invert(1);
}