.dm-background {
    background: url(/img/wallpaper-black.jpg) no-repeat center !important;
    background-size: cover !important;
    transition: .3s;
}

.dm-text {
    color: white !important;
}

a:hover.dm-text {
    color: #ffffff86 !important;
    transition: .2s;
}

.dm-box{
    background-color: #55555598 !important;
}

.dm-background-menu {
    background: #181818 !important;
}

.dm-img-filter {
    filter: invert(1);
}