.dm-background {
    background: url(./img/wallpaper-black.jpg) no-repeat center !important;
    background-size: cover !important;
}

.dm-text {
    color: white !important;
}

.dm-box{
    background-color: #55555598 !important;
}

/*
Alteração na cor do hover (trocar de --primary-hover p/ --dm-hover) [alterar o CSS]
*/
